<section class="medium-padding120">
	<div class="container">
		<div class="row mb60">
			<div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12  m-auto">
				<div class="crumina-module crumina-heading align-center">
					<div class="heading-sup-title">Remori</div>
					<h2 class="heading-title">Sobre mí</h2>
					<p class="heading-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore
					</p>
				</div>
			</div>
		</div>

    <div class="row">
      <div class="info-box-wrap">
        <div class="row">
          <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <!-- Info Box  -->
            <div class="crumina-module crumina-info-box" data-mh="box--classic">
              <div class="info-box-image">
                <img src="/img/info1.png" alt="icon">
              </div>
              <div class="info-box-content">
                <h3 class="info-box-title">Incredible Challanges</h3>
                <p class="info-box-text">
                  Desde el programa de incubación Grido & Incutex hasta <a href="https://potenciate.buenosaires.gob.ar/emprendedurismo/nota/203/_90_semifinalistas_de_potenciate_pymes_">"Potenciate"</a> del Gobierno.
                  Gané muchas experiencias en buscar clientes, inversores y compañeros.
                </p>
              </div>
            </div>

            <!-- ... end Info Box  -->
          </div>
          <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">


            <!-- Info Box  -->

            <div class="crumina-module crumina-info-box" data-mh="box--classic">
              <div class="info-box-image">
                <img src="/img/info2.png" alt="icon">
              </div>
              <div class="info-box-content">
                <h3 class="info-box-title">Beautifully Coded</h3>
                <p class="info-box-text">
                  Siempre busco código mantenible y simple con la arquitectura bien diseñada.
                  Aprendí su importancia a través de mi propia experiencia.
                </p>
              </div>
            </div>

            <!-- ... end Info Box  -->

          </div>
          <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">


            <!-- Info Box  -->

            <div class="crumina-module crumina-info-box" data-mh="box--classic">
              <div class="info-box-image">
                <img src="/img/info3.png" alt="icon">
              </div>
              <div class="info-box-content">
                <h3 class="info-box-title">Larn constantly</h3>
                <p class="info-box-text">
                  Salir a vender mi producto me requería la habilidad de resolver miles de problemas y infinto aprendizaje.
                  Leo muchos libros y muchas documentaciones en ingles, coreano y español.
                </p>
              </div>
            </div>

            <!-- ... end Info Box  -->

          </div>
        </div>
      </div>
    </div>

		<div class="row teammembers-wrap">
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">


				<!-- Teammember Item  -->

				<div class="crumina-module crumina-teammembers-item">

					<div class="teammembers-thumb">
						<img class="main" src="/img/solvi.png" alt="solvi">
						<img class="hover" src="/img/spree.png" alt="spree">
					</div>

					<div class="teammember-content">

						<a href="#" class="h5 teammembers-item-name">Spree + React.js</a>

						<div class="teammembers-item-prof">
              Calcular el punto de reorden considerando la suma de la demanda pasada y el tiempo de entrega de las mercancías.
            </div>

						<ul class="socials socials--round">
							<li>
							</li>
						</ul>
					</div>
				</div>

				<!-- ... end Teammember Item  -->

			</div>
      <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">

        <!-- Teammember Item  -->

        <div class="crumina-module crumina-teammembers-item">

          <div class="teammembers-thumb">
            <img class="main" src="/img/proveat-demo.jpg" alt="proveat">
            <img class="hover" src="/img/carta-digital.jpg" alt="proveat">
          </div>

          <div class="teammember-content">

            <a href="#" class="h5 teammembers-item-name">Proveat</a>

            <div class="teammembers-item-prof">
              Convertir todos los celulares de visitantes en la carta digital y conectarlos a la cocina.
            </div>

            <ul class="socials socials--round">
              <li>
              </li>
            </ul>
          </div>
        </div>

        <!-- ... end Teammember Item  -->

      </div>

		</div>

	</div>
</section>
