/*------------- #ACCORDION-FAQS --------------*/
.accordion-faqs .icons-wrap {
  display: inline-block;
  position: relative;
  margin-left: 20px; }
  .accordion-faqs .icons-wrap svg {
    fill: #ff5e3a;
    transition: opacity .3s ease; }
  .accordion-faqs .icons-wrap .olymp-plus-icon {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }

.accordion-faqs .card-header .collapsed .olymp-accordion-close-ico {
  opacity: 0; }

.accordion-faqs .card-header .collapsed .olymp-plus-icon {
  opacity: 1; }

.accordion-faqs .card-header {
  padding: 60px 0;
  border: none;
  border-top: 1px solid #e6ecf5; }
  .accordion-faqs .card-header:first-child {
    border-top: none; }

.accordion-faqs .collapse {
  margin-bottom: 60px; }

.accordion-faqs svg {
  width: 12px;
  height: 12px; }

/*================= Responsive Mode ============*/
@media (max-width: 600px) {
  .accordion-faqs .card-header {
    padding: 30px 0; }
  .accordion-faqs .collapse {
    margin-bottom: 20px; } }
