/*------------- #OPEN-TOPIC-TABLE --------------*/
.open-topic-table {
  width: 100%; }
  .open-topic-table thead {
    background-color: #38a9ff; }
    .open-topic-table thead th {
      font-size: 12px;
      font-weight: 700;
      padding: 15px 25px;
      color: #fff; }
      .open-topic-table thead th.author {
        text-align: left; }
  .open-topic-table td {
    padding: 35px 25px; }
  .open-topic-table tr {
    border-bottom: 1px solid #e6ecf5;
    border-top: 1px solid #e6ecf5; }
    .open-topic-table tr:last-child {
      border-bottom: none; }
  .open-topic-table .topic-date {
    padding: 10px 23px;
    background-color: #fafbfd;
    font-size: 11px; }
  .open-topic-table .author {
    text-align: center; }
  .open-topic-table .author-thumb {
    margin-bottom: 20px; }
    .open-topic-table .author-thumb img {
      width: 80px;
      height: 80px; }
  .open-topic-table .author-name {
    display: block;
    white-space: nowrap; }
    .open-topic-table .author-name:hover {
      color: #ff5e3a; }
  .open-topic-table .country {
    font-size: 11px; }
  .open-topic-table .posts {
    vertical-align: top; }

.reply-topic {
  float: right;
  color: #ff5e3a;
  font-size: 11px; }

/*------------- Responsive mode styles --------------*/
@media (max-width: 640px) {
  .open-topic-table thead th,
  .open-topic-table td {
    padding: 5px; }
  .open-topic-table .author-thumb img {
    width: 40px;
    height: 40px; } }
