<!-- Stunning header -->

<div class="stunning-header">


	<!-- Header Standard Landing  -->

	<div class="header--standard header--standard-landing" id="header--standard">
		<div class="container">
			<div class="header--standard-wrap">

				<a href="#" class="logo">
					<div class="img-wrap">
						<!-- <img src="img/logo.png" alt="Olympus"> -->
						<!-- <img src="img/logo-colored-small.png" alt="Olympus" class="logo-colored"> -->
					</div>
					<div class="title-block">
						<!-- <h6 class="logo-title">olympus</h6> -->
						<!-- <div class="sub-title">SOCIAL NETWORK</div> -->
					</div>
				</a>

				<a href="#" class="open-responsive-menu js-open-responsive-menu">
					<i class="olymp-menu-icon fas fa-bars"></i>
				</a>

				<div class="nav nav-pills nav1 header-menu">
					<div class="mCustomScrollbar">
						<ul>
							<li class="nav-item">
								<a href="#" class="nav-link">Home</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Terms & Conditions</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Events</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Privacy Policy</a>
							</li>
							<li class="close-responsive-menu js-close-responsive-menu">
								<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
							</li>
							<li class="nav-item js-expanded-menu">
								<a href="#" class="nav-link">
									<i class="olymp-menu-icon fas fa-bars"></i>
									<i class="olymp-close-icon fas fa-times"></i>
								</a>
							</li>
							<li class="shoping-cart more">

							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ... end Header Standard Landing  -->
	<div class="header-spacer--standard"></div>

	<div class="stunning-header-content">
		<h1 class="stunning-header-title font-italic" style="font-family: 'Barlow Condensed', sans-serif;">Remori</h1>
		<ul class="breadcrumbs">
			<li class="breadcrumbs-item">
				<a href="#">Try</a>
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item">
				<a href="#">Fail</a>
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item active">
				<span>Succeed</span>
			</li>
		</ul>
	</div>

	<div class="content-bg-wrap stunning-header-bg1"></div>
</div>

<!-- End Stunning header -->
